<div>
  <div class="container">
    <h1>Team Generator</h1>
    <ul>
      <li *ngFor = "let member of members">{{ member }}</li>
    </ul>
    <div class="add-person">
      <p *ngIf = "errorMessage" class="error-message">{{ errorMessage }}</p>
      <input
        #addMemberInput
        type="text"
        placeholder="Name"
        class="insert-name"
        (input)="onInput(addMemberInput.value)"
        [value]="newMemberName"
        />
      <button class="add-person-btn" (click)="addMember()" >Add person</button>
    </div>

    <div class="add-teams">
      <input 
      #numberOfTeamsInput
      type="text" 
      placeholder="Number of teams" 
      class="insert-number-of-teams"
      (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)"
      [value]="numberOfTeams"
      >
      <button (click)=generateTeams() class="add-teams-btn">Generate</button>
    </div>
  </div>
  <div *ngIf="teams.length" class="teams-container">
    <app-team
    *ngFor="let team of teams; let i = index"
    [team]="team"
    [index]="i"
    >
    </app-team>
  </div>
</div>